#search {
	width: 100%;
	display: flex;
}

#searchBox {
	flex-grow: 1;
	height: 30px;
	font-size: 1em;
	padding: 5px 20px;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
}

#list {
	order: 1;
	flex-grow: 1;
}

#map {
	order: 2;
	flex-grow: 4;
	text-align: center;
	height: 1000px;
}

@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {

#app {
	flex-direction: column;
}

}